name: Deploy to Firebase Hosting and Functions
on:
  push:
    branches:
      - main  # Or 'master' depending on your default branch name
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase
        # This uses the FIREBASE_SERVICE_ACCOUNT secret we will set up below
        run: firebase deploy --non-interactive --token "${{ secrets.FIREBASE_TOKEN }}"
